In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
df = pd.read_csv(url,sep=',')
df.head(10)

In [5]:
df.columns

In [6]:
df.info()

In [7]:
df.shape[1]

In [8]:
df.columns

In [9]:
df.shape[0]

In [10]:
#delete the columns unnamed: 0,id
df.drop(['Unnamed: 0','Id'], axis=1, inplace=True)

In [11]:
df.head(10)

In [12]:
#is there more male or female name in the dataset
df['Gender'].value_counts()

In [13]:
#group the dataset by names
names = df.groupby('Name').sum()
names.head()
print(names.shape)
#sort
names.sort_values('Count', ascending=False).head()

In [14]:
#how many different names exsit in the datset
len(names)

In [15]:
#what is the name with most occurences
df.Count.idxmax()

In [16]:
#how many different names have the least occurences
len(names[names.Count == names.Count.min()])

In [17]:
#what is the median name occurences
names[names.Count == names.Count.median()]